@model IEnumerable<AirlineReseravtionSystem.Models.AvailableSeats>
@{
    ViewData["Title"] = "BookFlight";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/site.js" type="text/javascript" asp-append-version="true"></script>
<form asp-controller="Flights" asp-action="BookTicket" method="post">

    <div class="plane">
        <div class="cockpit">
            <h1>Please select a seat</h1>
        </div>
        <div class="exit exit--front fuselage">
        </div>
        <table class="table">
            @*
                ----< heading of all the seating columns >----
            *@
            <thead>
                <tr>
                    <th>

                    </th>
                    <th>
                        A
                    </th>

                    <th>
                        B
                    </th>

                    <th>
                        C
                    </th>

                    <th>
                        D
                    </th>
                    <th>
                        E
                    </th>
                    <th>
                        F
                    </th>
                </tr>
            </thead>

            <tbody>

                @*
                    ----< Convert the 2 strings returned from the Controller into Arrays >----
                *@

                @{
                    string bookingClass = "";
                    int numberOfTickets = 0;
                    string[] seatNumber = { };
                    string[] seatStatus = { };

                    foreach (var seating in Model)
                    {
                        if (seating.flightSeating.EconomyClassSeatNumbers == null)
                        {
                            seatNumber = seating.flightSeating.FirstClassSeatNumbers.Split(",");
                            seatStatus = seating.flightSeating.FirstClassSeatStatus.Split(",");
                            bookingClass = "First";
                        }
                        else
                        {
                            seatNumber = seating.flightSeating.EconomyClassSeatNumbers.Split(",");
                            seatStatus = seating.flightSeating.EconomyClassSeatStatus.Split(",");
                            bookingClass = "Economy";
                        }
                        numberOfTickets = seating.NumberOfTickets;
                    }

                    @*
                        ----< Combine the SeatNumber String and SeatStatus array into Dictionary >----
                    *@

                IDictionary<string, string> seatsDictionary = new Dictionary<string, string>();

                for (int i = 0; i < seatNumber.Length; i++)
                {
                    seatsDictionary.Add(seatNumber[i], seatStatus[i]);
                }
                //----< Get the first value from the dictionary to start the row numbers from that number >----

                var first = seatsDictionary.First();
                string key = first.Key;

                //-----< k is the row number which keeps incrementing and show the row number depending upon
                //          the values from the database >---

                int k = Int32.Parse(key.Substring(0,1));
                int count = 1;
                while (count <= seatsDictionary.Count)
                {
                    int i = 1;
                        <tr>
                            
                            <td>
                                <strong>@k</strong>
                                <input type="hidden" name="TicketClass" value="@bookingClass" />
                            </td>
                            @{
                                k++;
                            }
                            @foreach (var entry in seatsDictionary)
                            {

                                if (i > 6)
                                {
                                    break;
                                }

                                <td>
                                    <ul class="cabin fuselage">

                                        @if (@entry.Value == "X")
                                        {
                                            <li>
                                                <input type="checkbox" name="seatSelection" id="@entry.Key" onclick="return ValidatePetSelection(@numberOfTickets)" disabled />
                                                <label for="@entry.Key">@entry.Value</label>
                                            </li>
                                        }
                                        else
                                        {
                                            <li>
                                                <input type="checkbox" name="seatSelection" id="@entry.Key" onclick="return ValidatePetSelection(@numberOfTickets)" value="@entry.Key" />
                                                <label for="@entry.Key">@entry.Value</label>
                                            </li>
                                        }

                                    </ul>

                                </td>
                                i++;

                                count++;

                            }
                            @*
                                ----< Removing the dictionary item that has been updated >----
                            *@

                            @for (int j = 1; j <= 6; j++)
                            {
                                seatsDictionary.Remove(seatsDictionary.Keys.First());
                            }
                        </tr>
                    }


                }
            </tbody>

        </table>

        <div class="exit exit--back fuselage">

        </div>
    </div>

    <hr />

    @* 
        ----< This section acts as the Passenger information input block which asks the user to input
                First Name,Last Name and date of birth >----
    *@
    <h5>Enter Passenger Info</h5>

    @{
        for (int i = 1; i <= numberOfTickets; i++)
        {
            <h6><strong>Passenger @i</strong></h6>
            <div class="travel-info">

                <div class="grid-item">
                    <h6>First Name</h6>
                </div>

                <div class="grid-item">
                    <h6>Last Name</h6>
                </div>

                <div class="grid-item">
                    <h6>Date of Birth</h6>
                </div>

                <div class="grid-item">
                    <input required class="form-control" type="text" id="from-tag" name="FirstName" placeholder="First Name" aria-label="Last Name" />
                </div>

                <div class="grid-item">
                    <input required class="form-control" type="text" id="to-tag" name="LastName" placeholder="Last Name" aria-label="Last Name" />
                </div>

                <div class="grid-item">
                    <input class="form-control" required type="date" name="DOB">
                </div>

            </div>
        }
    }
    <hr />
    @* 
        ----< Submits the Seat number selected, User information to the Controller usinf POST method >----
    *@
    <div class="search-flight">
        <div class="form-group">
            <input type="submit" value="Book Flight" class="btn btn-primary" />
        </div>

    </div>

</form>



